<!-- File name: aboutme.ejs
      Author's name: KATHERINE MARY VINCENT
     web site name: Katherine's Portfolio Website
     file description: This is a page that describes my qualification, education, experiences and personal interest.
-->

<% include ../partials/header %>
<body>
    <header>
<% include ../partials/navbar %>
   </header>
    <main class="main">
        <div class="container">
            <div class="page-header">
                <h1> About Katherine Mary Vincent </h1>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <br/>
                    <p>Hello, I'm Katherine Mary Vincent, a passionate Software Developer based in Toronto, ON, 
                        with a deep love for turning ideas into impactful digital solutions. My journey in the world of technology 
                        has equipped me with a versatile skill set and an unwavering commitment to client satisfaction.
                    </p>
                    <p>I am well-versed in the art of software development, specializing in creating user-centric interfaces and managing databases.
                        With a toolbox that includes Rational/WebSphere, GitHub, MS Office, Visual Studio Code, and Visop, 
                        I'm equipped to tackle diverse projects. I've honed my craft across various operating systems, including Unix, 
                        Linux, and Windows. What sets me apart is my knack for problem-solving, underpinned by strong analytical skills.
                    </p>
                    <br />
                    <small><i><b>For more information on my resume, please <a href="Katherine_resume.pdf" download="Katherine_resume">click here</a> to see</b></i></small>

                </div>
                <div class="col-md-3">
                    <img src="../images/lucy.png" alt="Lucy" height="400" />
                </div>
            </div>
            <!-- qualifications section -->
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">Qualifications</h2>
                </div>
                <div class="col-lg-4 col-sm-6 text-center">
                    <img class="img-center" src="../images/responsive_web_development.png" height="200" alt="Responsive Web Design">
                    <h3>Responsive Design<br/><small>CSS, Bootstrap</small></h3>
                    <p>Website that is responsive to the scale of any devices.</p>
                </div>
                <div class="col-lg-4 col-sm-6 text-center">
                    <img class="img-center" src="../images/cms.png" height="200" alt="Contents Management System">
                    <h3>CMS<br/><small>PHP, MySQL</small></h3>
                    <p>Contents Management System that gives flexibility to manage website contents by yourself.</p>
                </div>
                <div class="col-lg-4 col-sm-6 text-center">
                    <img class="img-center" src="../images/mean.png" height="200" alt="MEAN stack">
                    <h3>MEAN stack<br/><small>MongoDB, Express.js, Angular.js, and Node.js</small></h3>
                    <p>Building a Dynamic Web Application</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6 text-center">
                    <img class="img-center" src="../images/java-logo.png" height="200" alt="Java">
                    <h3>OOP<br/><small>Java</small></h3>
                    <p>Object-Oriented Programming</p>
                </div>
                <div class="col-lg-4 col-sm-6 text-center">
                    <img class="img-center" src="../images/Octocat.png" height="200" alt="GitHub">
                    <h3>Version Control<br/><small>GitHub</small> </h3>
                    <p>Continuous version control to manage projects timely manner.</p>
                </div>
                <!-- in case I am going to add more..
                <div class="col-lg-4 col-sm-6 text-center">
                    <img class="img-center" src="" height="200" alt="">
                    <h3>Some skill<br/><small>related info</small></h3>
                    <p>related info</p>
                </div>
                -->
            </div>
             <!-- education section -->

             <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">Education </h2>
                </div>
                <div class="col-lg-4 col-sm-6 text-center">
                    <img class="img-center" src="../images/centennialcollege_logo2.png" height="200" alt="Responsive Web Design">
                    <h3>Centennial College<br/><small> 2022-2025 </small> <br/><small> GPA - 4.3/4.5 </small> </h3>
                    <p>Advance Diploma in Software Engineering Technology (CO-OP)</p> 
                </div>

            
          


        </div>
    </main>
    <% include ../partials/footer %>