<!-- File name: index.ejs
      Author's name: KATHERINE MARY VINCENT
     web site name: Katherine's Portfolio Website
     file description: This is the main page of the website.
-->

<% include ../partials/header %>

<body class="full">
    <header id="top" class="header">
        <div class="col-md-6 col-md-offset-3 panel panel-default">
            <div class="text-vertical-center">
                <img src="images/logo.png" alt="KATHERINE MARY VINCENT" width="300" />
                <p>
                    <br/>
                </p>
                <h4 style="font-size: 15pt; font-family: Courier New;">
                    Welcome! I'm Katherine Mary Vincent 
                    <br/> A Software Engineering student, and this portfolio is a testament to my journey in coding and problem-solving. 
                    <br/> Dive in to explore my projects and experiences in the tech world.
                </h4>
                <br/>
                <a href="/about" class="btn btn-dark btn-lg">Click Here!</a>
            </div>
        </div>
    </header>

    <% include ../partials/footer %>